#root {
  background-color: #EEEEEE;
}

.header {
  background-color: #FFD369;
  font-weight: bold;
}

a {
  color: #FFD369;
}

.order {
  margin: 20px;
}

.orderImage {
  border-radius: 20px;

}

.hero {
  background-color: black;
  height: 300px;
  color: white;
}

.footer {
  background-color: #FFD369;
}