#root {
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

a {
  color: black !important;
}

#header {
  background-color: #FFFFFF ;
}

.nav-wrapper {
  background-color: #80cbc4;
  font-size: 20px;
  font-weight: bold;
  height: max-content;
  color: black;
}

#Dropdown_14 {
  color: black;
}

nav {
  height: 75px;
line-height: 75px;
margin-bottom: 10px;
font-family: 'Roboto', sans-serif;
}
.responsive-img {
  padding: 10px;
}
#mobile-nav {
  background-color: #4db6ac;
}

.order {
  margin: 20px;
}

.orderImage {
  border-radius: 20px;

}

.page-footer {
  background-color: black;
}

.footer {
  text-align: center;
  padding: 20px;
}

h3 {
  color: white;
  text-shadow: 1px 1px rgb(165, 165, 165);
}