#root {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

a {
  color: black !important;
}

#header {
  background-color: #FFFFFF ;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.nav-wrapper {
  background-color: #80cbc4;
  font-size: 20px;
  font-weight: bold;
  height: max-content;
  color: black;
}

#Dropdown_14 {
  color: black;
}

nav {
  height: 75px;
line-height: 75px;
margin-bottom: 20px;
font-family: 'Roboto', sans-serif;
}
.responsive-img {
  padding: 10px;
}
#mobile-nav {
  background-color: #4db6ac;
}

.order {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  background-color: white;
}

#aboutcontainer {
  background-color: #eeeeee;
  border: 1px solid rgba(10, 247, 255, 0.527);
  padding: 10px;
}

.page-footer {
  background-color: black;
}

#footer {
  margin-top: 10px;
  border-top: 1px solid black;
  background-color: #FFFFFF;
  text-align: center;
  padding: 20px;
}

h3 {
  color: white;
  text-shadow: 1px 1px rgb(165, 165, 165);
}

